In [15]:
# import necessary libraries
import pandas as pd

# EDA (Exploratory Data Analysis)

In [16]:
# load dataset
df= pd.read_csv('/Users/bruce/Documents/Study/phishing ML/From_Saugat/urldata.csv')

In [17]:
df.head()

   Unnamed: 0                        url   label  result
0           0     https://www.google.com  benign       0
1           1    https://www.youtube.com  benign       0
2           2   https://www.facebook.com  benign       0
3           3      https://www.baidu.com  benign       0
4           4  https://www.wikipedia.org  benign       0

In [18]:
#remove unwanted column
df=df.drop('Unnamed: 0',axis=1)

In [19]:
df.head()

                         url   label  result
0     https://www.google.com  benign       0
1    https://www.youtube.com  benign       0
2   https://www.facebook.com  benign       0
3      https://www.baidu.com  benign       0
4  https://www.wikipedia.org  benign       0

In [20]:
# check shape of dataset
df.shape

(450176, 3)

In [21]:
#check for Null values
df.isnull().sum()

url       0
label     0
result    0
dtype: int64

In [22]:
#check datatype 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450176 entries, 0 to 450175
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   url     450176 non-null  object
 1   label   450176 non-null  object
 2   result  450176 non-null  int64
dtypes: int64(1), object(2)
memory usage: 10.3+ MB

In [23]:
# check unique values of each column
print(df['label'].unique())
print(df['result'].unique())

['benign' 'malicious']
[0 1]

In [24]:
print(df['label'].value_counts())
print(df['result'].value_counts())

benign       345738
malicious    104438
Name: label, dtype: int64
0    345738
1    104438
Name: result, dtype: int64

In [25]:
# drop column label, as it's need is satisfied by result column i.e benign=0 and malicious=1
df=df.drop('label', axis=1)

In [26]:
df.head()

                         url  result
0     https://www.google.com       0
1    https://www.youtube.com       0
2   https://www.facebook.com       0
3      https://www.baidu.com       0
4  https://www.wikipedia.org       0

# Feature Creation based on few rules

In [30]:
# import libraries
from urllib.parse import urlparse

In [ ]:
# length function
def span(a):
    return lambda a: len(a)