In [1]:
# import necessary libraries
import pandas as pd

# EDA (Exploratory Data Analysis)

In [2]:
# load dataset
df= pd.read_csv('/Users/bruce/Documents/Study/phishing ML/From_Saugat/urldata.csv')

In [3]:
df.head()

   Unnamed: 0                        url   label  result
0           0     https://www.google.com  benign       0
1           1    https://www.youtube.com  benign       0
2           2   https://www.facebook.com  benign       0
3           3      https://www.baidu.com  benign       0
4           4  https://www.wikipedia.org  benign       0

In [4]:
#remove unwanted column
df=df.drop('Unnamed: 0',axis=1)

In [5]:
df.head()

                         url   label  result
0     https://www.google.com  benign       0
1    https://www.youtube.com  benign       0
2   https://www.facebook.com  benign       0
3      https://www.baidu.com  benign       0
4  https://www.wikipedia.org  benign       0

In [6]:
# check shape of dataset
df.shape

(450176, 3)

In [7]:
#check for Null values
df.isnull().sum()

url       0
label     0
result    0
dtype: int64

In [8]:
#check datatype 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450176 entries, 0 to 450175
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   url     450176 non-null  object
 1   label   450176 non-null  object
 2   result  450176 non-null  int64
dtypes: int64(1), object(2)
memory usage: 10.3+ MB

In [9]:
# check unique values of each column
print(df['label'].unique())
print(df['result'].unique())

['benign' 'malicious']
[0 1]

In [10]:
print(df['label'].value_counts())
print(df['result'].value_counts())

benign       345738
malicious    104438
Name: label, dtype: int64
0    345738
1    104438
Name: result, dtype: int64

In [11]:
# drop column label, as it's need is satisfied by result column i.e benign=0 and malicious=1
df=df.drop('label', axis=1)

In [12]:
df.head()

                         url  result
0     https://www.google.com       0
1    https://www.youtube.com       0
2   https://www.facebook.com       0
3      https://www.baidu.com       0
4  https://www.wikipedia.org       0

# Feature Creation based on some characteristics

In [13]:
# import libraries
from urllib.parse import urlparse

In [52]:
df_link = df

In [53]:
#1. get length of URL
df_link['url_length'] = df_link['url'].apply(lambda x: len(x))

In [54]:
#2. get length of Hostname
df_link['hostname_length'] = df_link['url'].apply(lambda x: len(str(urlparse(x).hostname)))

In [56]:
#3. get the length of the path from URL
df_link['path_length'] = df_link['url'].apply(lambda x: len(urlparse(x).path))

In [62]:
#4. get the length of first directory
def fd(URL):
    a=urlparse(URL).path
    if str(a[0:2]) == '//':
        return len(a.split('/')[2])
    else:
        try:
            return len(a.split('/')[1])
        except:
            return 0

df_link['FirstDir_length'] = df_link['url'].apply(lambda v: fd(v))

In [63]:
df_link['FirstDir_length'].head()

0    0
1    0
2    0
3    0
4    0
Name: FirstDir_length, dtype: int64

In [61]:
df_link.head()

,url,result,url_length,hostname_length,path_length,FirstDir_length
0,https://www.google.com,0,22,14,0,0
1,https://www.youtube.com,0,23,15,0,0
2,https://www.facebook.com,0,24,16,0,0
3,https://www.baidu.com,0,21,13,0,0
4,https://www.wikipedia.org,0,25,17,0,0